<div class="absolute inset-x-0 top-0 z-99999" *ngIf="isLoading">
    <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</div>

<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer class="w-40 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened"
            #matDrawer>

            <div class="py-10 mt-0.5 text-2xl font-bold tracking-tighter text-center">
                <h3>List of Fields</h3>
            </div>
            <div class="grid grid-cols-1">
                <div class="col-span-1 p-2 w-full" *ngFor="let field of fields; let i = index">
                    <div class="text-center py-4 px-1 bg-gray-100 cursor-pointer capitalize rounded-md"
                        [ngClass]="{'active-field': activeField?._id == field._id}"
                        [matTooltip]="'Click to See Associated Devices'" [matTooltipPosition]="'right'"
                        (click)="openFieldDetails(field)">
                        {{field.name}}
                    </div>
                </div>

            </div>

        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">

            <!-- Header -->
            <div
                class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
                <div class="flex-1 min-w-0">
                    <!-- Title -->
                    <div class="mt-2">
                        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                            Devices
                        </h2>
                    </div>
                </div>
                <!-- Actions -->

                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <button class="ml-4 rounded-lg" mat-flat-button [color]="'accent'" (click)="matDrawer.toggle()"
                        [matTooltip]="'Toggle Sub Sidebar'">
                        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                        <span class="ml-2 mr-1">Toggle</span>
                    </button>
                    <button *ngIf="activeField" class="ml-4 rounded-lg" mat-flat-button [color]="'accent'"
                        [matTooltip]="'Add New Device'" (click)="addDevice()">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-2">Add Device</span>
                    </button>
                </div>

            </div>

            <!-- Main -->
            <div class="flex items-center justify-center h-full" cdkScrollable *ngIf="!activeField && !apiCalled">
                <div class="text-4xl text-gray-300">Select A Field To View Devices!</div>
            </div>
            <div class="flex items-center justify-center h-full" cdkScrollable
                *ngIf="activeField && apiCalled && devices.length == 0">
                <div class="text-4xl text-gray-300">No Devices Found!</div>
            </div>
            <div class="flex-auto px-6 overflow-y-auto" cdkScrollable *ngIf="activeField && devices.length">
                <!-- CONTENT GOES HERE -->
                <div class="bg-card mt-6 rounded-lg mb-10">
                    <div class="grid grid-cols-3 xl:grid-cols-4 gap-3 w-full bg-gray-100 rounded-lg">
                        <!-- divide-y divide-slate-200 -->
                        <div *ngFor="let device of devices" (click)="viewDetails(device)"
                            class="col-span-1 bg-white rounded-lg cursor-pointer shadow-lg transform hover:-translate-y-1.5 transition">
                            <fuse-card class="flex flex-col w-full">

                                <div class="flex items-center justify-between absolute right-0">
                                    <div></div>
                                    <div class="flex items-center mt-4 mr-4">
                                        <mat-icon class="icon-size-6 text-green-600" *ngIf="device?.status == 'active'"
                                            [svgIcon]="'heroicons_solid:badge-check'" [matTooltip]="'Active'">
                                        </mat-icon>
                                        <mat-icon class="icon-size-6 text-red-600" *ngIf="device?.status != 'active'"
                                            [svgIcon]="'mat_outline:error'" [matTooltip]="'In Active'">
                                        </mat-icon>
                                    </div>
                                </div>

                                <div class="flex items-center">
                                    <div class="ml-2 my-2 mr-6">
                                        <img class="w-24 rounded-full"
                                            [src]="device?.device_type == 'air' ? 'assets/images/dev_air.svg' : 'assets/images/dev_gnd.svg'"
                                            alt="Card cover image">
                                        <div class="text-center pt-2">
                                            <button class="h-6 min-h-6 px-2 w-full rounded-full bg-gray-200 mx-auto"
                                                [matTooltip]="'Device Type'" mat-button>
                                                <span class="font-medium text-sm text-secondary capitalize">
                                                    {{device?.device_type}}
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="flex flex-col pt-2">

                                        <div class="text-lg font-bold leading-tight" [matTooltip]="'Device Name'">
                                            {{device?.name}}</div>
                                        <!-- <div class="text-md leading-tight capitalize">{{device?.field_name}}</div> -->
                                        <div class="text-md text-secondary mt-1 capitalize" [matTooltip]="'Field Name'">
                                            {{device?.field_name}}
                                        </div>
                                    </div>
                                </div>


                            </fuse-card>

                            <!-- <div class="capitalize font-bold text-lg">
                                <img class="w-24 my-2 mx-auto" src="assets/images/sensor.svg">
                            </div>
                            <div class="text-sm">Sensors</div>
                            <div class="text-3xl font-semibold tracking-tight leading-none">15</div> -->
                        </div>

                    </div>

                </div>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>