::ng-deep .mat-form-field-flex {
    border-radius: 0.5rem !important;
}

agm-map {
    height: 400px;
}

::ng-deep .agm-map-container-inner {
    border-radius: 15px;
}

.active-field {
    background-color: #1e293b !important;
    color: #fff !important;
}
