<div class="absolute inset-x-0 top-0" *ngIf="isLoading">
    <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</div>
<div class="flex flex-auto">
    <form class="flex flex-col flex-auto p-8 overflow-y-auto" [formGroup]="form" [autocomplete]="'off'">

        <div class="-ml-3 flex">
            <a mat-button [routerLink]="['../']" [color]="'accent'" [matTooltip]="'Back to Listing'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
            </a>

            <div class="ml-2 text-3xl font-extrabold tracking-tight my-auto">
                {{isEditMode() != null ? 'Edit User' : 'Add User'}}
            </div>

            <button class="ml-4 absolute right-8 flex-end rounded-lg" mat-flat-button [color]="'accent'"
                [disabled]="form.invalid" (click)="submit()">
                <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                <span class="ml-2 mr-2">Save</span>
            </button>
        </div>

        <mat-divider class="mt-6 mb-6"></mat-divider>

        <div class="mat-elevation-z3 px-8 py-6 bg-card shadow rounded">

            <div class="text-lg font-bold mb-5">User Details</div>

            <div class="grid sm:grid-cols-3 gap-3 w-full mt-8">

                <!-- Picture -->

                <div class="sm:col-span-3 flex mb-3 -mt-4">
                    <div class="my-auto w-40 mr-5">
                        <mat-label class="font-medium">Profile</mat-label>
                    </div>
                    <div class="flex">
                        <img class="img-placeholder-width mr-2" alt="user-img" [src]="image.img">
                        <button class="rounded-lg m-auto" (click)="fileElement.click()" mat-flat-button
                            [color]="'accent'">
                            <mat-icon [svgIcon]="'heroicons_outline:upload'"></mat-icon>
                            <span class="ml-2 mr-2">Upload</span>
                        </button>

                        <input class="form-control invisible" id="image" type="file" #fileElement [multiple]="false"
                            (change)="onImageSelected($event)" />

                    </div>

                </div>

                <!-- Name -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Name</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
                        <input [formControlName]="'name'" matInput>
                    </mat-form-field>
                </div>

                <!-- Email -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Email</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                        <input [formControlName]="'email'" matInput [autocomplete]="'off'">
                    </mat-form-field>
                </div>

                <!-- Password  -->
                <div class="sm:col-span-1">
                    <mat-form-field class="w-full formFieldHelpers" [floatLabel]="'always'">
                        <mat-label>Password</mat-label>
                        <input id="password" matInput type="password" [formControlName]="'password'"
                            [autocomplete]="'off'" [attr.autocomplete]="'off'"
                            [placeholder]="isEditMode() != null ? 'Leave empty if unchanged' : ''" #passwordField>
                        <button mat-icon-button type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <!-- City -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>City</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'" matPrefix>
                        </mat-icon>
                        <input [formControlName]="'city'" matInput>
                    </mat-form-field>
                </div>

                <!-- Country -->
                <div class="sm:col-span-1">
                    <mat-form-field class=" w-full flex-auto gt-xs:pl-3">
                        <mat-label>Country</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:globe-alt'" matPrefix>
                        </mat-icon>
                        <mat-select [formControlName]="'country'" (selectionChange)="countrySelected($event.value)">
                            <mat-option *ngFor="let country of countriesData" [value]="country.name">
                                {{country.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Phone Number -->
                <div class="sm:col-span-1">
                    <!-- <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Phone</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix></mat-icon>
                        <input [formControlName]="'phone_number'" matInput>
                    </mat-form-field> -->

                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Phone</mat-label>
                        <input matInput [formControlName]="'phone_number'" [placeholder]="mask" [mask]="mask">
                        <mat-select class="mr-1.5" [formControlName]="'phone_code'" matPrefix>
                            <mat-select-trigger>
                                <span class="flex items-center">
                                    <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                        [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                        [style.backgroundSize]="'24px 3876px'"
                                        [style.backgroundPosition]="getCountryByName(form.controls['country'].value).flagImagePos"></span>
                                    <span class="sm:mx-0.5 font-medium text-default">
                                        {{getCountryByName(form.controls['country'].value).code}}
                                    </span>
                                </span>
                            </mat-select-trigger>
                            <ng-container *ngFor="let country of countriesData; trackBy: trackByFn">
                                <mat-option [value]="country.code">
                                    <span class="flex items-center">
                                        <span class="w-6 h-4 overflow-hidden"
                                            [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                            [style.backgroundSize]="'24px 3876px'"
                                            [style.backgroundPosition]="country.flagImagePos"></span>
                                        <span class="ml-2">{{country.name}}</span>
                                        <span class="ml-2 font-medium">{{country.code}}</span>
                                    </span>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Organization -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Organization</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'feather:aperture'" matPrefix></mat-icon>
                        <input [formControlName]="'organization'" matInput>
                    </mat-form-field>
                </div>



                <!-- Role -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Role</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:tag'" matPrefix></mat-icon>
                        <mat-select [formControlName]="'role'">
                            <mat-option *ngIf="loggedInUser.role == 'super_admin'" [value]="'admin'">Admin</mat-option>
                            <mat-option *ngIf="loggedInUser.role == 'admin' || (loggedInUser.role == 'super_admin' && isEditMode() != null)" [value]="'worker'">Worker</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Gender -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Gender</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:transgender'" matPrefix>
                        </mat-icon>
                        <mat-select [formControlName]="'gender'">
                            <mat-option [value]="'male'">Male</mat-option>
                            <mat-option [value]="'female'">Female</mat-option>
                            <mat-option [value]="'other'">Other</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Application Name -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Project Name</mat-label>
                        <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:settings_applications'" matPrefix>
                        </mat-icon>
                        <input [formControlName]="'application_name'" matInput>
                    </mat-form-field>
                </div>

            </div>

        </div>


    </form>

</div>