<div
    class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent bg-default">

    <!-- Header -->
    <div class="relative sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"> -->
        <!-- Loader -->
        <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
            <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <div class="flex">
            <!-- Title -->
            <div class="text-3xl font-extrabold tracking-tight">Alerts Listing</div>
            <!-- Actions -->
            <div class="flex-end absolute right-8 shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <mat-form-field
                    class="listing-search fuse-mat-dense rounded-md fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input matInput [formControl]="searchControl" [autocomplete]="'off'" #input
                        [placeholder]="'Search ...'">
                </mat-form-field>
                <!-- Add button -->
                <button class="ml-4 rounded-lg" mat-flat-button [color]="'accent'" [routerLink]="['/alerts/add']">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add Alert</span>
                </button>
            </div>
        </div>

        <mat-divider class="mt-6 mb-6"></mat-divider>
        <div class="flex flex-auto overflow-hidden">
            <app-table class="w-full overflow-auto" [tableColumns]="tableColumns"
                [endPointConfiguration]="endPointConfiguration" [requestBody]="requestBody"
                [eventsSub]="eventsSubject.asObservable()" (clickedOnRow)="onRowClicked($event);"
                (checkboxCheckedUpdated)="onCheckboxChanged($event);"
                (selectedUsersCount)="selectedRows($event.selectedRows)" (searchQuery)="searchString($event)"
                (deleteRow)="deletedRow($event)">
            </app-table>
        </div>


    </div>
</div>