/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
    margin-bottom: 0px;
}

.mat-paginator .mat-paginator-container {
    justify-content: end;
}

.img-placeholder-width {
    width: 125px;
    height: 125px;
    border-radius: 10px;
    object-fit: scale-down;
}

.scrollable-container::-webkit-scrollbar {
    margin-top: 10px;
    width: 10px;
    height: 10px;
}
.scrollable-container::-webkit-scrollbar-thumb {
    // background: #e4e9f2;
    background: #1e293b;
    cursor: pointer;
    border-radius: 0.15625rem;
}
.scrollable-container::-webkit-scrollbar-track {
    background: #f1f5f9;
}
