<div class="absolute inset-x-0 top-0" *ngIf="isLoading">
	<mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</div>
<div class="">
	<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortTable($event)" class="border">
		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
			<th mat-header-cell *matHeaderCellDef>
				<mat-checkbox (change)="$event ? masterToggle() : null; getSelected(selection.selected)"
					[checked]="selection.hasValue() && isAllSelected()"
					[indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
				</mat-checkbox>
			</th>
			<td mat-cell *matCellDef="let row">
				<mat-checkbox (click)="$event.stopPropagation()"
					(change)="$event ? selection.toggle(row) : null; getSelected(selection.selected)"
					[checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
				</mat-checkbox>
			</td>
		</ng-container>

		<ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.value">

			<!-- if sortable column header -->
			<ng-container *ngIf="tableColumn.isSortable; else notSortable">
				<th mat-header-cell *matHeaderCellDef [mat-sort-header]="tableColumn.value" [arrowPosition]="'after'"
					[ngClass]="tableColumn.headingClass || ''">
					{{tableColumn.value}}
				</th>
			</ng-container>

			<!-- else not sortable -->

			<ng-template #notSortable>
				<th mat-header-cell *matHeaderCellDef [ngClass]="tableColumn.headingClass || ''">
					{{tableColumn.value}}
				</th>
			</ng-template>

			<!-- column data -->
			<ng-container *ngIf="tableColumn.type == 'text'">
				<td mat-cell *matCellDef="let element" [ngClass]="tableColumn.class || ''">
					{{element | dataGetterPipe: tableColumn.key}}
				</td>
			</ng-container>

			<ng-container *ngIf="tableColumn.type == 'image'">
				<td mat-cell *matCellDef="let element" [ngClass]="tableColumn.class || ''">
					<img class="table-image"
						[src]="element[tableColumn.key] ? element[tableColumn.key] : '/assets/images/placeholder.png'"
						[alt]="user-img">
				</td>
			</ng-container>

			<ng-container *ngIf="tableColumn.type == 'toggle'">
				<td mat-cell *matCellDef="let element" class="text-center" [ngClass]="tableColumn.class || ''"
					(click)="$event.stopPropagation();">
					<mat-slide-toggle class="" [color]="'accent'" [matTooltip]="'Toggle Status'"
						(change)="onStatusToggle($event.checked, element)" [checked]="element[tableColumn.key]">
					</mat-slide-toggle>
				</td>
			</ng-container>

			<ng-container *ngIf="tableColumn.type == 'delete-button'">
				<td mat-cell *matCellDef="let element" class="text-center" [ngClass]="tableColumn.class || ''">
					<mat-icon class="mt-1 icon-size-7 text-red-600" [svgIcon]="'heroicons_solid:trash'"
						(click)="$event.stopPropagation();deletedRecord(element)"></mat-icon>
				</td>
			</ng-container>


		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer hover:bg-hover"
			(click)="onClickedRow(row)"></tr>

		<!-- Row shown when there is no matching data. -->
		<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
				No Records ...
			</td>
		</tr>
	</table>
	<mat-paginator class="border" [pageSizeOptions]="[10, 15, 20, 25]" aria-label="Select page of listing"
		showFirstLastButtons>
	</mat-paginator>

</div>