table {
  width: 100%;
}

.mat-form-field {
  // font-size: 14px;
  // width: 100%;
}

.table-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.mat-cell {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

::ng-deep {
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #44546a !important;
  }
}

tr.mat-row {
  height: 56px;
}
