<div class="flex flex-col flex-auto md:w-120 md:min-w-120 -m-6">
    <div class="py-8 text-2xl font-bold tracking-tighter text-center">
        <h3>Add New Farm</h3>
    </div>
    <div class="text-center">
        <mat-form-field class="fuse-mat-no-subscript w-3/4 mb-7">
            <mat-label>Farm Name</mat-label>
            <input matInput [(ngModel)]="farmName">
        </mat-form-field>

        <div class="mt-4 sm:mt-0 mb-5 text-center">
            <button mat-flat-button matDialogClose class="rounded-lg mr-4 bg-gray-100">
                Close
            </button>
            <!-- Save -->
            <button class="order-first sm:order-last rounded-lg" mat-flat-button [color]="'accent'" (click)="save()">
                Save
            </button>
        </div>
    </div>



</div>