<div class="absolute inset-x-0 top-0 z-99999" *ngIf="isLoading">
    <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</div>

<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer class="w-40 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened"
            #matDrawer>

            <div class="py-10 mt-0.5 text-2xl font-bold tracking-tighter text-center">
                <h3>List of Farms</h3>
            </div>
            <div class="grid sm:grid-cols-1 gap-0 w-full p-2" *ngFor="let farm of farms; let i = index">
                <div class="text-center py-4 px-1 bg-gray-100 cursor-pointer capitalize rounded-md"
                    [ngClass]="{'active-field': activeFarm?._id == farm._id}"
                    [matTooltip]="'Click to See Associated Fields'" [matTooltipPosition]="'right'"
                    (click)="openFieldDetails(farm)">
                    {{farm.name}}
                </div>
            </div>

        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">

            <!-- Header -->
            <div
                class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
                <div class="flex-1 min-w-0">
                    <!-- Title -->
                    <div class="mt-2">
                        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                            Fields
                        </h2>
                    </div>
                </div>
                <!-- Actions -->

                <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <button class="ml-4 rounded-lg" mat-flat-button [color]="'accent'" (click)="matDrawer.toggle()"
                        [matTooltip]="'Toggle Sub Sidebar'">
                        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                        <span class="ml-2 mr-1">Toggle</span>
                    </button>
                </div>

                <!-- Add farm button -->
                <button class="ml-4 rounded-lg" mat-flat-button [color]="'accent'" (click)="openDialog()"
                    *ngIf="user?.role != 'worker'">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add Farm</span>
                </button>

                <!-- Add field button -->
                <button class="ml-4 rounded-lg" mat-flat-button [color]="'accent'"
                    (click)="addFieldDetails('add', null)" *ngIf="activeFarm">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add Field</span>
                </button>

                <button class="ml-4 rounded-lg" mat-flat-button [color]="'warn'" (click)="deleteFarm()"
                    *ngIf="user?.role != 'worker' && activeFarm">
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    <span class="ml-2 mr-2">Delete Farm</span>
                </button>
            </div>

            <!-- Main -->
            <div class="flex items-center justify-center h-full" cdkScrollable *ngIf="!activeFarm && !apiCalled">
                <div class="text-4xl text-gray-300">Select A Farm To View Fields!</div>
            </div>
            <div class="flex items-center justify-center h-full" cdkScrollable
                *ngIf="activeFarm && apiCalled && fields.length == 0">
                <div class="text-4xl text-gray-300">No Fields Found!</div>
            </div>

            <div class="flex-auto px-6 overflow-y-auto" cdkScrollable *ngIf="activeFarm && fields.length">
                <!-- CONTENT GOES HERE -->
                <div class="bg-card mt-6 rounded-lg mb-10">
                    <div class="grid grid-cols-2 xl:grid-cols-3 gap-5 w-full bg-gray-100 rounded-lg">
                        <div class="col-span-1 p-5 bg-white divide-y divide-slate-200 rounded-lg cursor-pointer shadow-lg transform hover:-translate-y-1.5 transition"
                            (click)="addFieldDetails('edit', field)" [matTooltip]="'Field Details'"
                            *ngFor="let field of fields">
                            <div class="pb-2">
                                <div class="capitalize font-bold text-lg">{{field?.name}}</div>
                                <div class="flex justify-between">
                                    <div class="capitalize text-sm">{{user?.name}}</div>
                                    <div class="capitalize text-sm">{{activeFarm?.name}}</div>
                                </div>
                            </div>

                            <div class="grid grid-cols-2 py-2">
                                <div class="col-span-1 text-left">
                                    <div class="capitalize font-bold text-lg">Crop Type</div>
                                    <div class="capitalize">{{field?.crop?.crop_type}}</div>
                                </div>
                                <div class="col-span-1 text-right">
                                    <div class="capitalize font-bold text-lg">Irrigation Type</div>
                                    <div class="capitalize">{{field?.irrigation?.system_type}}</div>
                                </div>
                            </div>

                            <!-- <img class="" src="assets/images/sensor.svg">
                                        <img class="" src="assets/images/f_hum.svg"> -->

                            <div class="grid grid-cols-3 pt-2">
                                <div class="col-span-1 text-center">
                                    <div class="capitalize font-bold text-lg">
                                        <img class="w-16 my-2 mx-auto" src="assets/images/sensor.svg">
                                        <!-- Sensors -->
                                    </div>
                                    <div class="text-sm">Sensors</div>
                                    <div class="text-3xl font-semibold tracking-tight leading-none">
                                        {{field?.totalDevices || '0'}}
                                    </div>
                                </div>
                                <div class="col-span-1 text-center">
                                    <div class="flex flex-col">
                                        <div class="capitalize font-semibold text-lg m-auto">
                                            <img class="w-16 my-2" src="assets/images/f_temp.svg">
                                        </div>
                                        <div class="text-sm">Temperature</div>
                                        <div class="text-3xl font-semibold tracking-tight leading-none">
                                            {{field?.airtemp || '0'}}
                                            <span class="text-xl font-semibold tracking-tight leading-none">
                                                °C
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-1 text-center">
                                    <div class="capitalize font-semibold text-lg">
                                        <img class="w-16 my-2 ml-auto mx-auto" src="assets/images/f_hum.svg">
                                    </div>
                                    <div class="text-sm">Humidity</div>
                                    <div class="text-3xl font-semibold tracking-tight leading-none">
                                        {{field?.humidity || '0'}}
                                        <span class="text-xl font-semibold tracking-tight leading-none">
                                            %
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>