<div class="flex flex-col flex-auto md:w-120 md:min-w-120 -m-6">
    <div class="py-8 text-2xl font-bold tracking-tighter text-center">
        <h3>Add New Event</h3>
    </div>
    <div class="text-center">
        <div class="sm:mt-0 mb-5 text-center">

            <mat-form-field class="fuse-mat-no-subscript w-3/4 mb-4" [floatLabel]="'always'">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker1" (click)="picker1.open()" name="date" [(ngModel)]="date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="fuse-mat-no-subscript w-3/4 mb-4">
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="type" name="type" required>
                    <mat-option [value]="'irrigation'">Irrigation</mat-option>
                    <mat-option [value]="'custom'">Custom</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="fuse-mat-no-subscript w-3/4 mb-4" *ngIf="type == 'custom'">
                <mat-label>Custom Type Text</mat-label>
                <input matInput [(ngModel)]="custom_type_text" name="custom_type_text" required>
            </mat-form-field>

            <mat-form-field class="fuse-mat-no-subscript w-3/4 mb-7">
                <mat-label>Value</mat-label>
                <input matInput [(ngModel)]="value" name="value" required>
            </mat-form-field>

            <div class="sm:mt-0 mb-5 text-center">
                <button mat-flat-button matDialogClose class="rounded-lg mr-4 bg-gray-100">
                    Close
                </button>
                <button *ngIf="editable" class="order-first mr-4 sm:order-last rounded-lg" mat-flat-button [color]="'warn'"
                    (click)="delete()">
                    Delete
                </button>
                <button class="order-first sm:order-last rounded-lg" mat-flat-button [color]="'accent'"
                    (click)="save()">
                    Save
                </button>

    
            </div>
        </div>
    </div>

</div>