::ng-deep .mat-form-field-flex {
    border-radius: 0.5rem !important;
}

::ng-deep {
    .fc-button {
        text-transform: capitalize !important;
    }
    .fc .fc-daygrid-day-top {
        justify-content: center !important;
    }
    .fc-list-event-title {
        cursor: pointer !important;
    }
    .fc-list-event-dot,
    .fc-daygrid-event-dot {
        // color: #1e293b !important;
        // border-color: #1e293b !important;
    }

    .fc-popover {
        z-index: 1 !important;
    }

    .irrigation .fc-daygrid-event-dot,
    .irrigation .fc-list-event-dot {
        border-color: #50b51c !important;
    }
    .custom .fc-daygrid-event-dot,
    .custom .fc-list-event-dot {
        border-color: #1fbde2 !important;
    }
    .fc-daygrid-dot-event .fc-event-title {
        text-overflow: ellipsis;
    }
}
