<div class="sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent bg-default">

    <!-- Header -->
    <div class="relative sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b"> -->
        <!-- Loader -->
        <div class="absolute inset-x-0 top-0" *ngIf="isLoading">
            <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
        </div>

        <div class="flex">
            <!-- Title -->
            <div class="text-3xl font-extrabold tracking-tight">Dashboard</div>
            <!-- Actions -->
            <div class="flex-end absolute right-8 shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            </div>
        </div>

        <mat-divider class="mt-6 mb-6"></mat-divider>
        <div class="flex flex-auto overflow-hidden">
            <div class="grid grid-cols-3 gap-4 w-full min-w-0">
                <div class="col-span-1 py-5 px-3 bg-card shadow rounded-2xl">
                    <div class="flex items-center mt-3 mb-5">
                        <mat-icon class="icon-size-5 hidden" [svgIcon]="'heroicons_solid:location-marker'">
                        </mat-icon>
                        <div class="capitalize font-bold text-2xl ml-2">
                            Moisture Status
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <div class="grid grid-cols-3 divide-x divide-slate-200 w-full">
                            <div class="col-span-1 text-center">
                                <div class="mb-2">
                                    <img class="w-24 rounded-full m-auto" src="assets/images/sms_refill.svg"
                                        alt="Card cover image">
                                </div>
                                <div>Refill</div>
                                <div class="text-6xl">{{stats?.refill || 0}}</div>
                                <div>Fields</div>
                            </div>
                            <div class="col-span-1 text-center">
                                <div class="mb-2">
                                    <img class="w-24 rounded-full m-auto" src="assets/images/sms_optimal.svg"
                                        alt="Card cover image">
                                </div>
                                <div>Optimal</div>
                                <div class="text-6xl">{{stats?.optimalDevices || 0}}</div>
                                <div>Fields</div>
                            </div>
                            <div class="col-span-1 text-center">
                                <div class="mb-2">
                                    <img class="w-24 rounded-full m-auto" src="assets/images/sms_full.svg"
                                        alt="Card cover image">
                                </div>
                                <div>Full</div>
                                <div class="text-6xl">{{stats?.fullDevices || 0}}</div>
                                <div>Fields</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-span-1 py-5 px-3 bg-card shadow rounded-2xl">
                    <div class="flex items-center mt-3 mb-5">
                        <mat-icon class="icon-size-5 hidden" [svgIcon]="'heroicons_solid:location-marker'">
                        </mat-icon>
                        <div class="capitalize font-bold text-2xl ml-2">
                            Device Status
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <div class="grid grid-cols-3 divide-x divide-slate-200 w-full">
                            <div class="col-span-1 text-center">
                                <div class="mb-2">
                                    <img class="w-24 rounded-full m-auto" src="assets/images/dstat_online.svg"
                                        alt="Card cover image">
                                </div>
                                <div class="invisible">.</div>
                                <div class="text-6xl">{{stats?.online || 0}}</div>
                                <div>Online</div>
                            </div>
                            <div class="col-span-1 text-center">
                                <div class="mb-2">
                                    <img class="w-24 rounded-full m-auto" src="assets/images/dstat_lowbat.svg"
                                        alt="Card cover image">
                                </div>
                                <div class="invisible">.</div>
                                <div class="text-6xl">{{stats?.lowBattery || 0}}</div>
                                <div>Low Battery</div>
                            </div>
                            <div class="col-span-1 text-center">
                                <div class="mb-2">
                                    <img class="w-24 rounded-full m-auto" src="assets/images/dstat_offline.svg"
                                        alt="Card cover image">
                                </div>
                                <div class="invisible">.</div>
                                <div class="text-6xl">{{stats?.offline || 0}}</div>
                                <div>Offline</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-span-1 py-5 px-3 bg-card shadow rounded-2xl">
                    <div *ngIf="weather?.current == null && weather?.forecast == null"
                        class="flex items-center justify-center h-full">
                        <div class="text-2xl text-gray-300">Loading ...</div>
                    </div>
                    <div *ngIf="weather?.current != null && weather?.forecast != null">

                        <div class="flex items-center mt-3">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'">
                            </mat-icon>
                            <div class="capitalize font-bold text-2xl ml-2">{{weather?.current?.name}},
                                {{weather?.current?.sys?.country}}</div>
                        </div>
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5 invisible" [svgIcon]="'heroicons_solid:location-marker'">
                            </mat-icon>
                            <div class="capitalize text-sm font-medium ml-2">
                                {{weather?.current?.dt * 1000 | date: 'EEE, MMMM d h:mm a'}}
                            </div>
                        </div>


                        <div class="flex items-center mb-2">
                            <div class="w-full">
                                <img class="w-24" *ngIf="weather?.current"
                                    [src]="'http://openweathermap.org/img/wn/' + weather?.current?.weather[0].icon + '@2x.png'"
                                    alt="Curren Weather Icon">
                            </div>
                            <div class="text-4xl font-semibold tracking-tight leading-none w-full">
                                {{weather?.current?.main?.temp | number: '2.0-0'}}°C
                            </div>
                            <div class="w-full text-right">
                                <div class="text-sm capitalize font-normal">
                                    {{weather?.current?.weather[0]?.main}}</div>
                                <div class="text-sm capitalize font-normal">
                                    {{weather?.current?.weather[0]?.description}}</div>
                                <div class="text-sm font-normal">Feels like {{weather?.current?.main?.feels_like
                                    | number: '2.0-0'}}°C
                                </div>
                            </div>

                        </div>
                        <div class="grid grid-cols-5">
                            <div class="col-span-1 text-center"
                                *ngFor="let hour of weather?.forecast?.hourly | slice: 1:6;">
                                <div class="text-md">{{hour?.dt * 1000 | date: 'h a'}}</div>
                                <div class="rounded-full">
                                    <img class="rounded-full m-auto w-20" *ngIf="weather?.forecast"
                                        [src]="'http://openweathermap.org/img/wn/' + hour?.weather[0].icon + '@2x.png'"
                                        alt="Curren Weather Icon">
                                </div>
                                <div class="text-md font-medium">{{hour?.temp | number: '2.0-0'}}°C</div>
                                <div class="text-md font-medium flex justify-center mt-1">
                                    <mat-icon class="icon-size-3 mt-0.5" [svgIcon]="'mat_solid:water_drop'">
                                    </mat-icon>
                                    {{hour?.humidity}}%
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-span-3 py-5 px-3 bg-card shadow rounded-2xl">
                    <div class="text-xl font-bold tracking-tight leading-6 truncate mb-3">Agenda</div>
                    <div class="container">
                        <full-calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>