agm-map {
    height: 400px;
}

::ng-deep .agm-map-container-inner {
    border-radius: 15px;
}

::ng-deep .mat-select-panel {
    max-width: 800px !important;
}

::ng-deep .mat-select-panel::-webkit-scrollbar {
    -webkit-appearance: none;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:vertical {
    width: 11px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar:horizontal {
    height: 11px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, 0.5);
}

#chart {
    max-width: 100%;
    margin: 25px auto;
}

::ng-deep .apexcharts-legend.apexcharts-align-center.apx-legend-position-bottom {
    inset: auto 0px -3px !important;
}
