<div class="absolute inset-x-0 top-0" *ngIf="isLoading">
    <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</div>

<div class="flex flex-auto">
    <form class="flex flex-col flex-auto p-8 overflow-y-auto" (keydown.enter)="$event.preventDefault()" #form="ngForm">

        <div class="-ml-3 flex">
            <a mat-button [routerLink]="isEditMode() != null ? ['../'] : ['../../']" [color]="'accent'"
                [matTooltip]="'Back to Farms'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
            </a>

            <div class="ml-2 text-3xl font-extrabold tracking-tight my-auto capitalize">
                {{isEditMode() != null ? details?.name : 'Add Field Details'}}
            </div>
            <div class="absolute right-8">

                <button class="ml-4 rounded-lg" mat-flat-button [color]="'accent'" (click)="onSubmit(activeTab)"
                    *ngIf="activeTab == 3" [disabled]="!form.valid">
                    <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                    <span class="ml-2 mr-2">Save</span>
                </button>

                <button class="ml-4 rounded-lg" mat-flat-button [color]="'warn'" (click)="deleteField()"
                    *ngIf="activeTab == 3 && isEditMode() != null">
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    <span class="ml-2 mr-2">Delete Field</span>
                </button>
            </div>

        </div>

        <mat-divider class="mt-6 mb-6"></mat-divider>

        <div class="mat-elevation-z3 px-8 py-6 bg-card shadow rounded">

            <mat-tab-group [animationDuration]="'0'" mat-align-tabs="center" [(selectedIndex)]="activeTab"
                (selectedIndexChange)="tabChange($event); activeTab = $event;">

                <!-- Summary -->
                <mat-tab label="Summary">
                    <ng-template matTabContent>
                        <!-- <div class="bg-gray-100"> -->

                        <div class="grid grid-cols-3 gap-2 w-full p-4 bg-gray-100 rounded-lg">
                            <div
                                class="col-span-1 p-1 bg-white divide-y divide-slate-200 rounded-lg cursor-pointer shadow-lg">

                                <div class="pb-2">
                                    <div class="capitalize font-bold text-lg pt-4 pl-4">Soil Moisture Status</div>
                                    <fuse-card class="flex flex-col w-full">
                                        <div class="flex items-center mb-3">
                                            <div class="my-2 mr-5">
                                                <img class="w-24 rounded-full" src="assets/images/sensor.svg"
                                                    alt="Card cover image">
                                            </div>
                                            <div class="flex flex-col pt-2 w-full">
                                                <div class="font-semibold mb-2">
                                                    {{activeDevices?.length ? activeDevices?.length + ' Active
                                                    Sensors'
                                                    : 'No Active Sensors'}}
                                                </div>
                                                <mat-form-field class="mr-3" [floatLabel]="'always'">
                                                    <mat-label>Select Device</mat-label>
                                                    <mat-select [(ngModel)]="selectedDevice" name="selectedDevice"
                                                        (selectionChange)="deviceSelected($event.value)">
                                                        <mat-option *ngFor="let device of devices" [value]="device._id"
                                                            [ngClass]="{'bg-red-50 text-red-500': device?.moisture_status === 'low'}">
                                                            {{device?.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </fuse-card>
                                </div>

                                <div class="py-2 pt-4">
                                    <div class="capitalize font-bold text-lg pl-4">Crop Status</div>
                                    <div class="grid grid-cols-3 py-2">
                                        <div class="col-span-1 text-center">
                                            <div class="capitalize font-bold text-lg">
                                                <img class="w-16 my-2 mx-auto" src="assets/images/planting_date.svg">
                                            </div>
                                            <div class="text-sm">Planting Date</div>
                                            <div class="text-md font-semibold tracking-tight leading-none py-1">
                                                {{details?.crop?.planting_date | date}}

                                            </div>
                                        </div>
                                        <div class="col-span-1 text-center">
                                            <div class="flex flex-col">
                                                <div class="capitalize font-semibold text-lg m-auto">
                                                    <img class="w-16 my-2" src="assets/images/emergence_date.svg">
                                                </div>
                                                <div class="text-sm">Emergence Date</div>
                                                <div class="text-md font-semibold tracking-tight leading-none py-1">
                                                    {{details?.crop?.emergence_date | date}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-span-1 text-center">
                                            <div class="capitalize font-semibold text-lg">
                                                <img class="w-16 my-2 ml-auto mx-auto"
                                                    src="assets/images/irrigation_type.svg">
                                            </div>
                                            <div class="text-sm">Irrigation Type</div>
                                            <div
                                                class="text-md font-semibold tracking-tight leading-none py-1 capitalize">
                                                {{details?.irrigation?.system_type }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-span-1 p-1 bg-white  rounded-lg cursor-pointer shadow-lg">

                                <div class="capitalize font-bold text-lg pt-4 pl-4">Weather</div>
                                <div *ngIf="weather?.current == null && weather?.forecast == null" cdkScrollable
                                    class="flex items-center justify-center h-4/5">
                                    <div class="text-2xl text-gray-300">Loading ...</div>
                                </div>


                                <div *ngIf="weather?.current != null && weather?.forecast != null" class="px-3 lg:pb-3">

                                    <div class="flex items-center mt-3">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>
                                        <div class="capitalize font-bold text-2xl ml-2">{{weather?.current?.name}},
                                            {{weather?.current?.sys?.country}}</div>
                                    </div>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 invisible"
                                            [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>
                                        <div class="capitalize text-sm font-medium ml-2">
                                            {{weather?.current?.dt * 1000 | date: 'EEE, MMMM d h:mm a'}}
                                        </div>
                                    </div>


                                    <div class="flex items-center mb-2">
                                        <div class="w-full">
                                            <img class="w-30" *ngIf="weather?.current"
                                                [src]="'http://openweathermap.org/img/wn/' + weather?.current?.weather[0].icon + '@2x.png'"
                                                alt="Curren Weather Icon">
                                        </div>
                                        <div class="text-6xl font-semibold tracking-tight leading-none w-full">
                                            {{weather?.current?.main?.temp | number: '2.0-0'}}°C
                                        </div>
                                        <div class="w-full text-right">
                                            <div class="text-sm capitalize font-normal">
                                                {{weather?.current?.weather[0]?.main}}</div>
                                            <div class="text-sm capitalize font-normal">
                                                {{weather?.current?.weather[0]?.description}}</div>
                                            <div class="text-sm font-normal">Feels like
                                                {{weather?.current?.main?.feels_like
                                                | number: '2.0-0'}}°C
                                            </div>
                                        </div>

                                    </div>
                                    <div class="grid grid-cols-5">
                                        <div class="col-span-1 text-center"
                                            *ngFor="let hour of weather?.forecast?.hourly | slice: 1:6;">
                                            <div class="text-md">{{hour?.dt * 1000 | date: 'h a'}}</div>
                                            <div class="rounded-full">
                                                <img class="rounded-full m-auto w-20" *ngIf="weather?.forecast"
                                                    [src]="'http://openweathermap.org/img/wn/' + hour?.weather[0].icon + '@2x.png'"
                                                    alt="Curren Weather Icon">
                                            </div>
                                            <div class="text-md font-medium">{{hour?.temp | number: '2.0-0'}}°C
                                            </div>
                                            <div class="text-md font-medium flex justify-center mt-1">
                                                <mat-icon class="icon-size-3 mt-0.5" [svgIcon]="'mat_solid:water_drop'">
                                                </mat-icon>
                                                {{hour?.humidity}}%
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-span-1 p-1 bg-white  rounded-lg cursor-pointer shadow-lg">
                                <div class="capitalize font-bold text-lg pt-4 pl-4">Crop Insights</div>
                                <div class="flex items-center justify-center h-4/5" cdkScrollable
                                    *ngIf="activeDevices?.length == 0">
                                    <div class="text-2xl text-gray-300">No Devices Installed ...</div>
                                </div>
                                <div class="flex items-center justify-center h-4/5" cdkScrollable
                                    *ngIf="activeDevices?.length != 0 && insights?.length == 0">
                                    <div class="text-2xl">
                                        <div class="text-xl font-semibold pb-3 mt-3">All Good</div>
                                        <p>All readings are fine. Enjoy your day.</p>
                                    </div>
                                </div>
                                <div class="flex h-4/5" cdkScrollable *ngIf="insights?.length">
                                    <div class="pl-4">
                                        <div class="text-xl text-red-500 font-semibold pb-3 mt-3">Low Moisture</div>
                                        <div>
                                            <p *ngIf="insights?.length == 1">
                                                Device ({{insights[0]?.name}}) is showing LOW moisture levels.
                                                Please do one of the following:
                                            </p>

                                            <p *ngIf="insights?.length > 1">
                                                {{insights?.length}} devices are showing LOW moisture levels.
                                                Please do the following:
                                            </p>

                                            <ul class="mt-2">
                                                <li>1.
                                                    <span class="ml-0.5">
                                                        Check device status from the drop down menu
                                                    </span>
                                                </li>
                                                <li>2. Investigate location</li>
                                                <li>3. Turn on water pump</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-span-3 bg-white rounded-lg p-3 pt-6" *ngIf="deviceDetail">
                                <div>
                                    <div class="flex flex-col sm:flex-row items-start justify-between">
                                        <div class="text-xl font-bold tracking-tight leading-6 truncate">Chart</div>

                                        <div class="mt-3 sm:mt-0 sm:ml-2">
                                            <button *ngFor="let time of times; let i = index;" mat-button
                                                class="h-8 min-h-8 px-3 min-w-26 rounded-full mx-auto mr-2"
                                                [ngClass]="{'bg-gray-200': timeline == i ? true : false }"
                                                (click)="timeline=i;xAxis=[];moist1=[];moist2=[];soilTemp=[];getChartDetails();">
                                                <span class="font-medium text-sm text-secondary capitalize">
                                                    {{time?.text}}
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div id="chart" *ngIf="xAxis.length && moist1.length && moist2.length">
                                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                            [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke"
                                            [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
                                            [legend]="chartOptions.legend" [markers]="chartOptions.markers"
                                            [grid]="chartOptions.grid" [yaxis]="chartOptions.yaxis"
                                            [title]="chartOptions.title" [annotations]="chartOptions.annotations">
                                        </apx-chart>
                                    </div>

                                    <div *ngIf="!(xAxis.length && moist1.length && moist2.length) && !isLoading"
                                        class="mt-8 text-center text-xl font-extrabold tracking-tight">
                                        No Data Available For Moist
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->

                    </ng-template>
                </mat-tab>

                <!-- Graphs -->
                <!-- <mat-tab label="Graphs" #graphTab> </mat-tab> -->
                <mat-tab label="Graphs">
                    <ng-template matTabContent>
                        <div class="text-center mb-8">
                            <mat-form-field class="fuse-mat-no-subscript flex-auto w-4/12" [floatLabel]="'always'">
                                <mat-label>Select Device</mat-label>
                                <mat-select [(ngModel)]="selectedDevice" name="selectedDevice"
                                    (selectionChange)="deviceSelected($event.value)">
                                    <mat-option *ngFor="let device of devices" [value]="device._id">
                                        {{device?.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="deviceDetail">
                            <div class="flex flex-col sm:flex-row items-start justify-between">
                                <div class="text-xl font-bold tracking-tight leading-6 truncate">Chart</div>

                                <div class="mt-3 sm:mt-0 sm:ml-2">
                                    <button *ngFor="let time of times; let i = index;" mat-button
                                        class="h-8 min-h-8 px-3 min-w-26 rounded-full mx-auto mr-2"
                                        [ngClass]="{'bg-gray-200': timeline == i ? true : false }"
                                        (click)="timeline=i;xAxis=[];moist1=[];moist2=[];soilTemp=[];getChartDetails();">
                                        <span class="font-medium text-sm text-secondary capitalize">
                                            {{time?.text}}
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="grid grid-cols-3 w-full mb-5 border rounded-lg mt-6">
                                <div class="col-span-1 flex border-r border-b p-2 items-center">
                                    <div class="mr-3 flex">
                                        <mat-icon class="icon-size-6" [svgIcon]="'mat_outline:sensors'"></mat-icon>
                                    </div>
                                    <div>{{deviceDetail?.name}}</div>
                                </div>
                                <div class="col-span-1 flex border-r border-b p-2 items-center">
                                    <div class="mr-3 flex">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>
                                    </div>
                                    <div>{{deviceDetail?.field_id?.name}}</div>
                                </div>
                                <div class="col-span-1 flex border-b p-2 items-center">
                                    <div class="mr-3 flex">
                                        <mat-icon class="icon-size-6" [svgIcon]="'mat_outline:battery_charging_full'">
                                        </mat-icon>
                                    </div>
                                    <div *ngFor="let field of deviceDetail.fields">
                                        <div *ngIf="field?.name === 'uplink_message_decoded_payload_battery'">
                                            {{field?.last}} V
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-1 flex border-r p-2 items-center">
                                    <div class="mr-3 flex">
                                        <mat-icon class="icon-size-6" [svgIcon]="'mat_outline:device_thermostat'">
                                        </mat-icon>
                                    </div>
                                    <div>{{deviceDetail?.airDevice?.airtemp || 'Please configure air device'}}</div>
                                </div>
                                <div class="col-span-1 flex border-r p-2 items-center">
                                    <div class="mr-3 flex">
                                        <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:water_drop'"></mat-icon>
                                    </div>
                                    <div>{{deviceDetail?.airDevice?.humidity || 'Please configure air device'}}</div>
                                </div>
                            </div>

                            <!-- <div id="chart" *ngIf="xAxis.length && moist1.length && moist2.length && soilTemp.length">
                                <apx-chart [series]="chartOptions?.series" [chart]="chartOptions?.chart"
                                    [xaxis]="chartOptions?.xaxis" [stroke]="chartOptions?.stroke"
                                    [tooltip]="chartOptions?.tooltip" [dataLabels]="chartOptions?.dataLabels"
                                    [legend]="chartOptions?.legend" [markers]="chartOptions?.markers"
                                    [grid]="chartOptions?.grid" [yaxis]="chartOptions?.yaxis"
                                    [title]="chartOptions?.title">
                                </apx-chart>
                            </div>
                            <div *ngIf="!(xAxis.length && moist1.length && moist2.length && soilTemp.length) && !isLoading"
                                class="mt-8 text-center text-xl font-extrabold tracking-tight">
                                No Data Available
                            </div> -->

                            <div id="chart" *ngIf="xAxis.length && moist1.length && moist2.length">
                                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                    [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke"
                                    [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
                                    [legend]="chartOptions.legend" [markers]="chartOptions.markers"
                                    [grid]="chartOptions.grid" [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"
                                    [annotations]="chartOptions.annotations">
                                </apx-chart>
                            </div>

                            <div *ngIf="!(xAxis.length && moist1.length && moist2.length) && !isLoading"
                                class="mt-8 text-center text-xl font-extrabold tracking-tight">
                                No Data Available For Moist
                            </div>

                            <div id="chart2" *ngIf="xAxis.length && soilTemp.length">
                                <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                                    [xaxis]="chartOptions2.xaxis" [stroke]="chartOptions2.stroke"
                                    [tooltip]="chartOptions2.tooltip" [dataLabels]="chartOptions2.dataLabels"
                                    [legend]="chartOptions2.legend" [markers]="chartOptions2.markers"
                                    [grid]="chartOptions2.grid" [yaxis]="chartOptions2.yaxis"
                                    [title]="chartOptions2.title" [annotations]="chartOptions2.annotations">
                                </apx-chart>
                            </div>

                            <div *ngIf="!(xAxis.length && soilTemp.length) && !isLoading"
                                class="mt-8 text-center text-xl font-extrabold tracking-tight">
                                No Data Available For Soil Temperature
                            </div>

                        </div>


                    </ng-template>
                </mat-tab>

                <!-- Field View -->
                <!-- <mat-tab label="Field View" #fieldsTab> </mat-tab> -->
                <mat-tab label="Field View">
                    <ng-template matTabContent>

                        <div class="grid grid-cols-2 gap-4 w-full p-5 bg-gray-100 rounded-lg">
                            <div
                                class="col-span-1 p-5 bg-white divide-y divide-slate-200 rounded-lg cursor-pointer shadow-lg">
                                <mat-tab-group mat-align-tabs="start">
                                    <mat-tab label="Soil">
                                        <div class="grid grid-cols-3 gap-3 w-full">
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/clay.svg">
                                                </div>
                                                <div class="text-md">Clay</div>
                                                <div class="text-base font-semibold tracking-tight leading-none py-1">
                                                    {{details?.soil?.clay}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/sand.svg">
                                                </div>
                                                <div class="text-md">Sand</div>
                                                <div class="text-base font-semibold tracking-tight leading-none py-1">
                                                    {{details?.soil?.sand}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/silt.svg">
                                                </div>
                                                <div class="text-md">Silt</div>
                                                <div class="text-base font-semibold tracking-tight leading-none py-1">
                                                    {{details?.soil?.silt}}
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Crop">
                                        <div class="grid grid-cols-3 gap-3 w-full">
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/crop_type.svg">
                                                </div>
                                                <div class="text-md">Crop Type</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.crop?.crop_type}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto"
                                                        src="assets/images/previous_crop.svg">
                                                </div>
                                                <div class="text-md">Previous Crop</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.crop?.previous_crop}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto"
                                                        src="assets/images/planting_date.svg">
                                                </div>
                                                <div class="text-md">Planting Date</div>
                                                <div class="text-base font-semibold tracking-tight leading-none py-1">
                                                    {{details?.crop?.planting_date | date}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto"
                                                        src="assets/images/emergence_date.svg">
                                                </div>
                                                <div class="text-md">Emergence Date</div>
                                                <div class="text-base font-semibold tracking-tight leading-none py-1">
                                                    {{details?.crop?.emergence_date | date}}
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Irrigation">
                                        <div class="grid grid-cols-3 gap-3 w-full">
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto"
                                                        src="assets/images/irrigation_type.svg">
                                                </div>
                                                <div class="text-md">Irrigation Type</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.irrigation?.system_type}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center"
                                                *ngIf="details?.irrigation?.system_type == 'pivot'">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/sensor.svg">
                                                </div>
                                                <div class="text-md">Pivot Name</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.irrigation?.name}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center"
                                                *ngIf="details?.irrigation?.system_type == 'pivot'">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/sensor.svg">
                                                </div>
                                                <div class="text-md">Pivot Shape</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.irrigation?.pivot_shape == 'semi_circle' ? 'Semi Circle'
                                                    : 'Circle'}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center"
                                                *ngIf="details?.irrigation?.system_type == 'pivot'">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/sensor.svg">
                                                </div>
                                                <div class="text-md">Pivot Length (ft)</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.irrigation?.pivot_length}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/flow_rate.svg">
                                                </div>
                                                <div class="text-md">Flow Rate (gal/min)</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.irrigation?.flow_rate}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center"
                                                *ngIf="details?.irrigation?.system_type == 'pivot'">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/sensor.svg">
                                                </div>
                                                <div class="text-md">Full Run Time (h)</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.irrigation?.full_run_time}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center"
                                                *ngIf="details?.irrigation?.system_type != 'pivot'">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/actual_area.svg">
                                                </div>
                                                <div class="text-md">Actual Area (acre)</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.irrigation?.actual_area}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center"
                                                *ngIf="details?.irrigation?.system_type != 'pivot'">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto"
                                                        src="assets/images/percentage_irrigated.svg">
                                                </div>
                                                <div class="text-md">Percent Irrigated</div>
                                                <div
                                                    class="text-base font-semibold tracking-tight leading-none py-1 capitalize">
                                                    {{details?.irrigation?.percent_irrigated}}
                                                </div>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Nutrition">
                                        <div class="grid grid-cols-3 gap-3 w-full">
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto"
                                                        src="assets/images/organic_matter.svg">
                                                </div>
                                                <div class="text-md">Organic Matter</div>
                                                <div class="text-base font-semibold tracking-tight leading-none py-1">
                                                    {{details?.soil?.organic_matter}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/pH.svg">
                                                </div>
                                                <div class="text-md">pH</div>
                                                <div class="text-base font-semibold tracking-tight leading-none py-1">
                                                    {{details?.soil?.ph}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/cec.svg">
                                                </div>
                                                <div class="text-md">CEC meq/100g</div>
                                                <div class="text-base font-semibold tracking-tight leading-none py-1">
                                                    {{details?.soil?.cec}}
                                                </div>
                                            </div>
                                            <div class="col-span-1 text-center">
                                                <div class="capitalize font-bold text-lg">
                                                    <img class="w-16 my-2 mx-auto" src="assets/images/ec.svg">
                                                </div>
                                                <div class="text-md">EC dS/m</div>
                                                <div class="text-base font-semibold tracking-tight leading-none py-1">
                                                    {{details?.soil?.ec}}
                                                </div>
                                            </div>
                                        </div>

                                    </mat-tab>
                                </mat-tab-group>
                            </div>

                            <div class="col-span-1 bg-white rounded-3xl cursor-pointer shadow-lg"
                                *ngIf="details?.location.length">
                                <div class="agm-container">
                                    <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng" [mapTypeId]="'satellite'"
                                        (mapReady)="fieldViewMap($event)" [scrollwheel]="false">
                                        <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false"
                                            [iconUrl]="'/assets/images/location_pin.svg'">
                                        </agm-marker>
                                    </agm-map>
                                </div>
                            </div>

                        </div>

                    </ng-template>
                </mat-tab>

                <!-- Settings -->
                <mat-tab label="Settings" #settingsTab> </mat-tab>

            </mat-tab-group>
            <div [ngStyle]="{'display': !settingsTab.isActive ? 'none' : null}">
                <div class="-mt-6">

                    <div class="text-lg font-bold mb-5">Field</div>

                    <div class="grid sm:grid-cols-2 gap-3 w-full mt-8">

                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Field Name</mat-label>
                                <input matInput [(ngModel)]="details.name" name="name" required>
                            </mat-form-field>
                        </div>

                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Field Description</mat-label>
                                <input matInput [(ngModel)]="details.description" name="description">
                            </mat-form-field>
                        </div>

                        <div class="sm:col-span-2">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Search by Location Name</mat-label>
                                <input matInput [(ngModel)]="details.search_location" name="search_location"
                                    autocorrect="off" autocapitalize="off" spellcheck="off" #search>
                            </mat-form-field>
                        </div>

                        <div class="sm:col-span-2">
                            <div class="agm-container relative">
                                <div *ngIf="pointList.length > 0"
                                    class="display-flex absolute bg-white -z--1 rounded-full top-8 left-1/2">
                                    <button mat-stroked-button color="warn" (click)="deleteSelectedShape()">
                                        Clear
                                    </button>
                                </div>
                                <br />
                                <agm-map #agmMap id="agm" [zoom]="15" [latitude]="lat" [longitude]="lng"
                                    [mapTypeId]="'satellite'" (mapReady)="onMapReady($event)" [scrollwheel]="false">
                                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false"
                                        [iconUrl]="'/assets/images/location_pin.svg'">
                                    </agm-marker>
                                </agm-map>
                            </div>
                        </div>

                    </div>

                    <mat-divider class="mt-10 mb-6"></mat-divider>

                    <div class="text-lg font-bold mb-4 mt-8">Soil</div>

                    <div class="grid sm:grid-cols-7 gap-3 w-full mt-8">
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Clay</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.soil.clay" name="clay"
                                    [min]="0" [max]="100" [placeholder]="'0 - 100'">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Sand</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.soil.sand" name="sand"
                                    [min]="0" [max]="100" [placeholder]="'0 - 100'">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Silt</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.soil.silt" name="silt"
                                    [min]="0" [max]="100" [placeholder]="'0 - 100'">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Organic Matter</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.soil.organic_matter"
                                    name="organic_matter" [min]="0" [max]="80" [placeholder]="'0 - 80'">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>pH</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.soil.ph" name="ph" [min]="2"
                                    [max]="10" [placeholder]="'2 - 10'">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>CEC meq/100g</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.soil.cec" name="cec"
                                    [min]="1" [max]="200" [placeholder]="'1 - 200'">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>EC dS/m</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.soil.ec" name="ec" [min]="0"
                                    [max]="40" [placeholder]="'0 - 40'">
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-divider class="mt-10 mb-6"></mat-divider>

                    <div class="text-lg font-bold mb-4 mt-7">Crop</div>

                    <div class="grid sm:grid-cols-4 gap-3 w-full mt-8">
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full flex-auto gt-xs:pl-3"
                                [floatLabel]="'always'">
                                <mat-label>Crop Type</mat-label>
                                <mat-select [(ngModel)]="details.crop.crop_type" name="crop_type">
                                    <mat-option *ngFor="let crop of cropTypes" [value]="crop.value">
                                        {{crop.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full flex-auto gt-xs:pl-3"
                                [floatLabel]="'always'">
                                <mat-label>Previous Crop Type</mat-label>
                                <mat-select [(ngModel)]="details.crop.previous_crop" name="previous_crop">
                                    <mat-option *ngFor="let crop of cropTypes" [value]="crop.value">
                                        {{crop.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="formFieldHelpers w-full" [floatLabel]="'always'">
                                <mat-label>Planting Date</mat-label>
                                <input matInput [matDatepicker]="picker1" (click)="picker1.open()" name="planting_date"
                                    [(ngModel)]="details.crop.planting_date">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1">
                            <mat-form-field class="formFieldHelpers w-full" [floatLabel]="'always'">
                                <mat-label>Emergence Date</mat-label>
                                <input matInput [matDatepicker]="picker2" (click)="picker2.open()" name="emergence_date"
                                    [(ngModel)]="details.crop.emergence_date">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-divider class="mt-10 mb-6"></mat-divider>

                    <div class="text-lg font-bold mb-4 mt-8">Irrigation</div>

                    <div class="grid sm:grid-cols-4 gap-3 w-full mt-8">
                        <div class="sm:col-span-1">
                            <mat-form-field class="fuse-mat-no-subscript w-full flex-auto gt-xs:pl-3"
                                [floatLabel]="'always'">
                                <mat-label>System Type</mat-label>
                                <mat-select [(ngModel)]="details.irrigation.system_type" name="system_type">
                                    <mat-option *ngFor="let type of systemTypes" [value]="type.value">
                                        {{type.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="sm:col-span-1" *ngIf="details?.irrigation?.system_type == 'pivot'">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Pivot Name</mat-label>
                                <input matInput [(ngModel)]="details.irrigation.name" name="pivot_name" required>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1" *ngIf="details?.irrigation?.system_type == 'pivot'">
                            <mat-form-field class="fuse-mat-no-subscript w-full flex-auto gt-xs:pl-3">
                                <mat-label>Pivot Shape</mat-label>
                                <mat-select [(ngModel)]="details.irrigation.pivot_shape" name="pivot_shape">
                                    <mat-option [value]="'circle'">Circle</mat-option>
                                    <mat-option [value]="'semi_circle'">Semi Circle</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1" *ngIf="details?.irrigation?.system_type">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Flow Rate (gal/min)</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.irrigation.flow_rate"
                                    name="flow_rate">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1" *ngIf="details?.irrigation?.system_type == 'pivot'">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Pivot Length (ft)</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.irrigation.pivot_length"
                                    name="pivot_length">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1" *ngIf="details?.irrigation?.system_type == 'pivot'">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Full Run Time (h)</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.irrigation.full_run_time"
                                    name="full_run_time">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1"
                            *ngIf="details?.irrigation?.system_type && details?.irrigation?.system_type != 'pivot'">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Actual Area (acre)</mat-label>
                                <input matInput type="number" required [(ngModel)]="details.irrigation.actual_area"
                                    name="actual_area">
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1"
                            *ngIf="details?.irrigation?.system_type && details?.irrigation?.system_type != 'pivot'">
                            <mat-form-field class="fuse-mat-no-subscript w-full formFieldHelpers"
                                [floatLabel]="'always'">
                                <mat-label>Percent Irrigated</mat-label>
                                <input matInput type="number" required
                                    [(ngModel)]="details.irrigation.percent_irrigated" name="percent_irrigated">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>
</div>