<div class="absolute inset-x-0 top-0" *ngIf="isLoading">
    <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</div>
<div class="flex flex-auto">
    <div class="flex flex-col flex-auto p-8 overflow-y-auto">

        <div class="-ml-3 flex">
            <a mat-button [routerLink]="['../']" [color]="'accent'" [matTooltip]="'Back to Listing'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
            </a>

            <div class="ml-2 text-3xl font-extrabold tracking-tight my-auto">
                Device Details
            </div>
            <button class="ml-4 absolute right-8 flex-end rounded-lg" mat-flat-button [color]="'warn'"
                (click)="archiveDevice()" *ngIf="user?.role != 'worker'">
                <mat-icon [svgIcon]="'mat_outline:archive'"></mat-icon>
                <span class="ml-2 mr-2">Archive Device</span>
            </button>
        </div>

        <mat-divider class="mt-6 mb-6"></mat-divider>

        <div class="mat-elevation-z3 px-8 py-6 bg-card shadow rounded">

            <div class="flex flex-col sm:flex-row items-start justify-between">
                <div class="text-xl font-bold tracking-tight leading-6 truncate">Chart</div>

                <div class="mt-3 sm:mt-0 sm:ml-2">
                    <button *ngFor="let time of times; let i = index;" mat-button
                        class="h-8 min-h-8 px-3 min-w-26 rounded-full mx-auto mr-2"
                        [ngClass]="{'bg-gray-200': timeline == i ? true : false }"
                        (click)="timeline=i;xAxis=[];moist1=[];moist2=[];soilTemp=[];getChartDetails();">
                        <span class="font-medium text-sm text-secondary capitalize">
                            {{time?.text}}
                        </span>
                    </button>
                </div>
            </div>

            <mat-divider class="mt-3 mb-8"></mat-divider>

            <div class="grid grid-cols-3 w-full mb-5 border rounded-lg">
                <div class="col-span-1 flex border-r border-b p-2 items-center">
                    <div class="mr-3 flex">
                        <mat-icon class="icon-size-6" [svgIcon]="'mat_outline:sensors'"></mat-icon>
                    </div>
                    <div>{{details?.name}}</div>
                </div>
                <div class="col-span-1 flex border-r border-b p-2 items-center">
                    <div class="mr-3 flex">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    </div>
                    <div>{{details?.field_id?.name}}</div>
                </div>
                <div class="col-span-1 flex border-b p-2 items-center">
                    <div class="mr-3 flex">
                        <mat-icon class="icon-size-6" [svgIcon]="'mat_outline:battery_charging_full'"></mat-icon>
                    </div>
                    <div *ngFor="let field of details.fields">
                        <div *ngIf="field?.name === 'uplink_message_decoded_payload_battery'">
                            {{field?.last}} V
                        </div>
                    </div>
                </div>
                <div class="col-span-1 flex border-r p-2 items-center">
                    <div class="mr-3 flex">
                        <mat-icon class="icon-size-6" [svgIcon]="'mat_outline:device_thermostat'"></mat-icon>
                    </div>
                    <div>{{details?.airDevice?.airtemp || 'Please configure air device'}}</div>
                </div>
                <div class="col-span-1 flex border-r p-2 items-center">
                    <div class="mr-3 flex">
                        <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:water_drop'"></mat-icon>
                    </div>
                    <div>{{details?.airDevice?.humidity || 'Please configure air device'}}</div>
                </div>
            </div>

            <!-- <mat-form-field class="fuse-mat-no-subscript w-1/3 flex-auto gt-xs:pl-3">
                <mat-label>Time</mat-label>
                <mat-select [(ngModel)]="timeline" name="timeline" (selectionChange)="timelineChange($event.value)">
                    <mat-option *ngFor="let time of times; let i = index" [value]="i">
                        {{time.text}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->



            <div id="chart" *ngIf="xAxis.length && moist1.length && moist2.length">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                    [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
                    [dataLabels]="chartOptions.dataLabels" [legend]="chartOptions.legend"
                    [markers]="chartOptions.markers" [grid]="chartOptions.grid" [yaxis]="chartOptions.yaxis"
                    [title]="chartOptions.title" [annotations]="chartOptions.annotations">
                </apx-chart>
            </div>

            <div *ngIf="!(xAxis.length && moist1.length && moist2.length) && !isLoading"
                class="mt-8 text-center text-xl font-extrabold tracking-tight">
                No Data Available For Moist
            </div>

            <div id="chart2" *ngIf="xAxis.length && soilTemp.length">
                <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [xaxis]="chartOptions2.xaxis"
                    [stroke]="chartOptions2.stroke" [tooltip]="chartOptions2.tooltip"
                    [dataLabels]="chartOptions2.dataLabels" [legend]="chartOptions2.legend"
                    [markers]="chartOptions2.markers" [grid]="chartOptions2.grid" [yaxis]="chartOptions2.yaxis"
                    [title]="chartOptions2.title" [annotations]="chartOptions2.annotations">
                </apx-chart>
            </div>

            <div *ngIf="!(xAxis.length && soilTemp.length) && !isLoading"
                class="mt-8 text-center text-xl font-extrabold tracking-tight">
                No Data Available For Soil Temperature
            </div>

        </div>
    </div>

</div>