<div class="absolute inset-x-0 top-0" *ngIf="isLoading">
    <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</div>
<div class="flex flex-auto">
    <div class="flex flex-col flex-auto p-8 overflow-y-auto">

        <div class="-ml-3 flex">
            <a mat-button [routerLink]="['../../']" [color]="'accent'" [matTooltip]="'Back to Listing'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
            </a>

            <div class="ml-2 text-3xl font-extrabold tracking-tight my-auto">
                Add New Device
            </div>

            <button class="ml-4 absolute right-8 flex-end rounded-lg" mat-flat-button [color]="'accent'"
                (click)="submit()">
                <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                <span class="ml-2 mr-2">Save</span>
            </button>
        </div>

        <mat-divider class="mt-6 mb-6"></mat-divider>

        <div class="mat-elevation-z3 px-8 py-6 bg-card shadow rounded">

            <div class="text-lg font-bold mb-5">Device Details</div>

            <div class="grid sm:grid-cols-2 gap-4 w-full mt-8">
                <div class="col-span-2">
                    <mat-form-field class="fuse-mat-no-subscript w-full" [floatLabel]="'always'" [color]="'accent'">
                        <mat-label>Devices</mat-label>
                        <mat-select [(ngModel)]="deviceSelectedIndex" name="device_devices" required
                            class="device-selectbox">
                            <mat-option class="multiline-mat-option" *ngFor="let device of devices; let i = index;"
                                [value]="i" [matTooltip]="device.value">
                                {{i + 1}} - {{device.label}} | {{device.application_name}} | {{device.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full" [floatLabel]="'always'">
                        <mat-label>Fields</mat-label>
                        <mat-select multiple [(ngModel)]="deviceFields" name="device_fields" required>
                            <mat-option *ngFor="let field of fields" [value]="field.value">{{field.label}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Device Type</mat-label>
                        <mat-select [(ngModel)]="deviceType" name="device_type" required>
                            <mat-option [value]="'ground'">Ground</mat-option>
                            <mat-option [value]="'air'">Air</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-span-2 bg-white rounded-3xl cursor-pointer shadow-lg" *ngIf="details?.location.length">
                    <div class="agm-container relative">
                        <div class="display-flex absolute bg-white -z--1 rounded-full top-8 left-5">
                            <button mat-stroked-button color="accent" (click)="addDeviceLocation()"
                                *ngIf="!markerAdded">
                                Add Device Marker
                            </button>
                            <button mat-stroked-button color="warn" (click)="removeDeviceLocationMarker()"
                                *ngIf="markerAdded">
                                Remove Device Marker
                            </button>
                        </div>
                        <br />
                        <agm-map #agmMap [zoom]="15" [latitude]="lat" [longitude]="lng" [mapTypeId]="'satellite'"
                            (mapReady)="fieldViewMap($event)" [scrollwheel]="false">
                            <!-- <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false"
                                [iconUrl]="'/assets/images/location_pin.svg'"> -->
                            <!-- </agm-marker> -->

                            <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat"
                                [longitude]="marker.lng" [markerDraggable]="true"
                                [iconUrl]="{url:'/assets/images/' + marker.icon + '.svg', scaledSize: {height: 90,width: 48} }"
                                (dragEnd)="markerDragEnd($event, i)">
                                <agm-info-window #infoWindow>
                                    {{ marker.label }}
                                </agm-info-window>

                            </agm-marker>
                        </agm-map>
                    </div>
                    <div class="agm-container">

                    </div>
                </div>




            </div>
        </div>


    </div>

</div>