<!-- Messages toggle -->
<button mat-icon-button (click)="openPanel()" #messagesOrigin>
    <ng-container *ngIf="alerts?.length > 0">
        <!-- <span class="absolute top-0 right-0 left-0 flex items-center justify-center h-3">
            <span
                class="flex items-center justify-center shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-indigo-600 text-indigo-50 text-xs font-medium">
                {{alerts?.length}}
            </span>
        </span> -->
    </ng-container>
    <mat-icon [svgIcon]="'heroicons_outline:bell'"></mat-icon>
</button>

<!-- Messages panel -->
<ng-template #messagesPanel>

    <div
        class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-80 sm:w-80 sm:rounded-2xl overflow-hidden shadow-lg">

        <!-- Header -->
        <div class="flex shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
            <div class="sm:hidden -ml-1 mr-3">
                <button mat-icon-button (click)="closePanel()">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">Alerts</div>
            <div class="ml-auto">
                <button mat-icon-button>
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Content -->
        <div class="relative flex flex-col flex-auto sm:max-h-120 divide-y overflow-y-auto bg-card">
            <!-- Alerts -->
            <ng-container *ngFor="let alert of alerts; trackBy: trackByFn">
                <div class="flex group hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5">
                    <ng-container>
                        <ng-container>
                            <a class="flex flex-auto py-4 pl-6 cursor-pointer">
                                <ng-container *ngTemplateOutlet="alertContent"></ng-container>
                            </a>
                        </ng-container>
                    </ng-container>
                </div>

                <!-- Alert content template -->
                <ng-template #alertContent>
                    <div class="flex flex-col flex-auto">
                        <ng-container>
                            <div class="font-semibold line-clamp-1 capitalize" [innerHTML]="alert.alert_name"></div>
                        </ng-container>
                        <ng-container>
                            <!-- <div class="line-clamp-2" [innerHTML]="message.description"></div> -->
                        </ng-container>
                        <div class="mt-2 text-sm leading-none text-secondary">
                            <button class="h-6 min-h-6 px-2 rounded-full bg-gray-200 mx-auto" mat-button>
                                <span class="font-medium text-sm text-secondary capitalize">
                                    {{alert?.action}}
                                </span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ng-container>

            <!-- No alerts -->
            <ng-container *ngIf="!alerts || !alerts.length">
                <div class="flex flex-col flex-auto items-center justify-center sm:justify-start py-12 px-8">
                    <div class="flex flex-0 items-center justify-center w-14 h-14 rounded-full bg-primary-100">
                        <mat-icon class="text-primary-500-700" [svgIcon]="'heroicons_outline:bell'"></mat-icon>
                    </div>
                    <div class="mt-5 text-2xl font-semibold tracking-tight">No alerts</div>
                    <div class="w-full max-w-60 mt-1 text-md text-center text-secondary">
                        When you have alerts, they will appear here.
                    </div>
                </div>
            </ng-container>


        </div>
    </div>
</ng-template>