<div class="absolute inset-x-0 top-0" *ngIf="isLoading">
    <mat-progress-bar [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>
</div>
<div class="flex flex-auto">
    <form class="flex flex-col flex-auto p-8 overflow-y-auto" [formGroup]="form">

        <div class="-ml-3 flex">
            <a mat-button [routerLink]="['../']" [color]="'accent'" [matTooltip]="'Back to Listing'">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
            </a>

            <div class="ml-2 text-3xl font-extrabold tracking-tight my-auto">
                {{isEditMode() != null ? 'Edit Alert' : 'Add Alert'}}
            </div>

            <button class="ml-4 absolute right-8 flex-end rounded-lg" mat-flat-button [color]="'accent'"
                [disabled]="form.invalid" (click)="submit()">
                <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                <span class="ml-2 mr-2">Save</span>
            </button>
        </div>

        <mat-divider class="mt-6 mb-6"></mat-divider>

        <div class="mat-elevation-z3 px-8 py-6 bg-card shadow rounded">

            <div class="flex justify-between">
                <div class="text-lg font-bold">Alert Details</div>
                <div>
                    <mat-slide-toggle [color]="'accent'" [formControlName]="'active'"></mat-slide-toggle>
                </div>
            </div>


            <div class="grid sm:grid-cols-3 gap-3 w-full mt-8">

                <!-- Alert Name -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Alert Name</mat-label>
                        <input [formControlName]="'alert_name'" matInput>
                    </mat-form-field>
                </div>

                <!-- Devices -->
                <div class="sm:col-span-1">
                    <mat-form-field class=" w-full flex-auto gt-xs:pl-3">
                        <mat-label>Devices</mat-label>
                        <mat-select [formControlName]="'device_id'" (selectionChange)="deviceChange()">
                            <mat-option *ngFor="let device of devices" [value]="device._id">
                                {{device.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Parameters -->
                <div class="sm:col-span-1">
                    <mat-form-field class=" w-full flex-auto gt-xs:pl-3">
                        <mat-label>Parameter</mat-label>
                        <mat-select [formControlName]="'parameter'">
                            <mat-option *ngFor="let param of parameters" [value]="param">
                                {{param.replace('uplink_message_decoded_payload_', '')}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Condition -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Condition</mat-label>
                        <mat-select [formControlName]="'condition'">
                            <mat-option [value]="'lower'">Low</mat-option>
                            <mat-option [value]="'higher'">High</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Action -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Action</mat-label>
                        <mat-select [formControlName]="'action'">
                            <mat-option [value]="'email'">Email notification</mat-option>
                            <mat-option disabled [value]="'sms'">SMS notification</mat-option>
                            <mat-option disabled [value]="'whatsapp'">Whatsapp notification</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Snooze -->
                <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Snooze</mat-label>
                        <mat-select [formControlName]="'snooze'">
                            <mat-option [value]="'1'">1</mat-option>
                            <mat-option [value]="'2'">2</mat-option>
                            <mat-option [value]="'3'">3</mat-option>
                            <mat-option [value]="'4'">4</mat-option>
                            <mat-option [value]="'5'">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

        </div>


    </form>

</div>